/* Font Import */
@import url('https://fonts.googleapis.com/css?family=Arvo:400,700|Open+Sans:400,700,800|Ruda|Bitter');

*
  font-family: 'Open Sans', 'Arial', sans-serif

.intro {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}

.card {
  margin-top: -1rem;
  margin-bottom: 5rem;
}

a {
  color: inherit;
}

.list {
  margin: 0 2rem !important;
}

main {
  text-align: center;
}

h2 {
  text-align: center;
}

h1
  font-size: 42px

h2
  font-size: 32px

h3
  font-size: 20px

h1, h2, h3, h4, h5, h6
  // font-family: 'Ruda', 'Roboto', 'Arial', sans-serif

body, p, div, span
  // font-family: 'Ruda', 'Arial', sans-serif
  font-weight: 400
