blue = #263741
orange = #FF4F00
gray = #F2F2F2
grey = gray
white = #fff
black = #000

primary = orange
default = blue
success = #219C00
warn = #FFC000
danger = #AA0004
info = #0C5DA5

light-blue = lighten(blue, 20)
dark-blue = darken(blue, 20)
gray-dark = darken(gray, 20)
gray-darker = darken(gray, 40)
charcoal = lighten(black, 20)
